<div>
    <h1>Sign Up</h1>
    <div>
        <form>
            <div>
                <label for="username-signup">Username</label>
                <input id="username-signup" type="text">
            </div>
            <div>
                <label for="password-signup">Username</label>
                <input id="password-signup" type="text">
            </div>
            <div>
                <button type="submit" id="button-signup">Sign Up</button>
            </div>
        </form>
    </div>
</div>